body {
	font-family: "Poppins", sans-serif;
	background-color: #171717;
	color: #EDEDED;
}

nav, #contact-me div {
	background-color: #171717;
}

#landing, #about, #tools, #projects, #contact {
	background-color: #121212;
}

#landing span, #about span, nav a > span, h3, h5{
	color: #6d8db3 !important;
}

#country, #projects a{
	color: #808080;
}

#tools img{
	width: 150px;
}

.card div{
	background-color: #171717 !important;
}

.modal-dialog {
	color:#121212 !important ;
}

form, #contact-me div > a{
	background-color: #171717 !important;
	color: #EDEDED !important;
}

#message {
	height: 100px;
}

#contact button {
	background-color: #6d8db3 !important;
	color: #EDEDED !important;
}



